.sports-page {
  padding: 20px;
}

h1 {
  text-align: center;
}

.expander {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.expander label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f4f4;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
}

.expander .arrow {
  font-size: 1.2rem;
  transition: transform 0.3s ease;
}

.expander .arrow.open {
  transform: rotate(180deg); /* Xoay mũi tên lên */
}

.expander .content {
  padding: 10px;
  background-color: #fff;
}

.expander img {
  max-width: 100%;
  margin-top: 10px;
  border-radius: 5px;
}
